@model Core.Entities.ChartOfAccount

@{
    ViewBag.Title = "Account Details";
}

<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0">Account Details</h2>
        </div>

        <div class="card-body">
            <h4>Account Information</h4>
            <hr />

            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(m => m.AccountName)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(m => m.AccountName)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(m => m.AccountType)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(m => m.AccountType)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsActive)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(m => m.IsActive)</dd>
            </dl>
        </div>

        <div class="card-footer text-end">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-outline-secondary" })
        </div>
    </div>
</div>
